*{
    box-sizing:border-box;
}


.container{
    height:400px;
    border:2px solid red;
    display:flex;
    /* flex-direction:column; */
    /* flex-direction:row-reverse;
    flex-direction:column-reverse; */
    /* flex-wrap:wrap;
    flex-wrap:wrap-reverse; */
    /* gap:10px; */
    /* flex-flow:wrap row; */
    flex-flow:wrap ;
    /* justify-content:space-around;
    justify-content:space-between; */
    /* justify-content:flex-end; */
    /* justify-content:center;
    /* align-items:center;  */
    /* align-items:stretch; */
    align-items:center;
    align-content:flex-start;
    /* align-content:space-between; */
    align-content:space-evenly;
}
.box{
    border:2px solid green;
    /* margin:10px; */
    width:80px;
    flex-basis:25%;
}

#box-1{
    /* order:1;
    flex-grow:1;
    flex-shrink:2; */
    flex-basis:100px;;
}
/* #box-3{
    order:3;
} */

#box-3{
    /* flex-grow:2; */
    flex:0 0 200px;
    align-self:flex-start;
}
/* #box-4{
    flex-shrink:3;
} */