*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    height:400px;
    border:2px solid red;
    display:grid;
    gap:10px;
    column-gap:5px;
    /* grid-template-columns:100px 200px 300px;
    grid-template-columns:30% 70%;
    grid-template-columns:2fr 1fr 1fr 2fr;
    grid-template-columns:repeat(4,1fr);
    grid-template-columns:repeat(4,100px);
    grid-template-columns:repeat(auto-fill,100px);
    grid-template-columns:200px auto; */
    grid-template-columns:200px 200px 200px;
    /* grid-auto-rows:150px; */
    /* justify-content: center; */
    /* align-content:center; */
    /* align-items:center; */
    
}
.box{
    border:2px solid greenyellow;
    padding:12px;
}

#box-1{
    background-color:bisque;
    /* justify-self:center;
    align-self:center;
    align-self:end; */
    /* grid-column-start:1;
    grid-column-end:3; */
    /* grid-column:1/3; this is a short hand of the grid column */
    /* grid-column:1/span 2; */
    grid-row:1/4;
    /* grid-area:1/1/3/4; short hand of teh row and the column  */


}