body {
  display: flex;
  align-items: center;       
  justify-content: center; 
  min-height: 100vh;  
  margin: 0;  
  background:linear-gradient(black,brown,red,yellow)                
  
}
.container{
    background-color:lightgrey;
    padding:50px;
    border-radius:10px;
    width:60%;
}
.registration{
    font-family:algerian;
    text-align:center;
    border-bottom:3px dashed red;
}
form .container2{
    display:flex;
    flex-wrap:wrap;
}
form .container2 .inputbox{
    width: calc(100%/2);

}
/* form .container2 .inputbox input{
    height:45px;
    width:100%;
    
} */
