/* h1{
    color:white;
    background-color:blue;
    text-align:center;
    height:1cm;
    line-height:1cm;
} */

/* div{
    height:2cm;
    width: 100%;
    text-align:center;
    font-size:40px;

}
body{
    margin:0;
    padding:0;
    height:200cm;
}
.a{
    background-color:orange;
}
.b{
    background-color:skyblue;
}
.c{
    background-color:green;
}
.d{
    background-color:violet;
} */

/* body{
    margin:0;
    padding:0;
}


.e{
    background-color:green;
    text-align:justify;
}
.f{
    background-color:yellow;
} */

/* #myimage{

    float:left;
} */