body{
    margin:0;
    padding:0;
    background:url('any image url')
}
ul{
    list-style-type:none;
    background-color:black;
    color:white;
}
ul li{
    display:inline-block;
    padding:10px;
}
ul li:hover{
    background-color:green;
    color:whitesmoke;
}
.dropdown{
    display:none;
}
ul li:hover .dropdown{
    display:block;
    position:absolute;
    margin-left: -0.3cm;
    margin-top:0.27cm;
}
.dropdown ul{
    margin:0;
    padding:0;
}
.dropdown ul li{
    display:block;
}
.dropdown2{
    display:none;
}
/* .dropdown ul li:hover .dropdown2{

} */
.dropdown ul li:hover .dropdown2{
    position:absolute;
    margin-left:3.5cm;
    margin-top:-0.75;
    display:block;
}