body{
    margin:0;
    padding:0;
}

h1{
    background-color:dodgerblue;
    color:whitesmoke;
    text-align:center;
}

div{
    width:3cm;
    height:3cm;
    text-align:center;
    border:2px solid black;
    margin:10px;
    line-height:3cm;
    border-radius:10px;
    margin-left:50%;
}

.a{
    background-color:red;
}
.b{
    background-color:yellow;
}
.c{
    background-color: green;
}
.a:hover{
    transform:rotate(360deg);
    transition:3s;
}
.b:hover{
    transform:rotatex(360deg);
    transition:3s;
}
.c:hover{
    transform:rotatey(360deg);
    transition:3s;
}